*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
font-family:'Orbitron',sans-serif;
background:#000;
color:#fff;
overflow-x:hidden;
}

body::before{
content:'';
position:fixed;
inset:0;

background:url("assets/background.jpg");
background-size:cover;
background-position:center;

z-index:-3;
}

body::after{
content:'';
position:fixed;
inset:0;

background:
linear-gradient(
180deg,
rgba(0,0,0,.45),
rgba(0,0,0,.82));

z-index:-2;
}

.navbar{

position:fixed;
top:0;
left:0;

width:100%;

padding:20px 60px;

display:flex;
justify-content:space-between;
align-items:center;

background:
rgba(0,0,0,.55);

backdrop-filter:blur(15px);

border-bottom:
1px solid rgba(255,0,0,.2);

z-index:999;
}

.brand{
display:flex;
align-items:center;
gap:15px;
}

.brand img{
width:60px;
height:60px;
border-radius:50%;
box-shadow:
0 0 20px red;
}

.brand h3{
color:#ff1744;
}

.brand span{
font-size:12px;
}

nav{
display:flex;
gap:40px;
}

nav a{
color:white;
text-decoration:none;
}

.active-nav{
color:#48ff74;
}

.hero{

min-height:100vh;

display:flex;
justify-content:center;
align-items:center;

padding-top:100px;
}

.content{
text-align:center;
}

.logo-ring{

width:230px;
height:230px;

margin:auto;

border-radius:50%;

border:3px solid #ff1744;

box-shadow:
0 0 25px red,
0 0 70px red;

display:flex;
justify-content:center;
align-items:center;
}

.logo-ring img{

width:180px;
height:180px;

border-radius:50%;
}

h1{

font-size:120px;

margin-top:30px;

color:#ff1744;

text-shadow:
0 0 20px red,
0 0 50px red,
0 0 100px red;
}

h2{

font-size:55px;

letter-spacing:15px;

font-weight:300;

margin-bottom:20px;
}

.content p{
letter-spacing:5px;
}

.download-card{

margin-top:50px;

width:700px;

max-width:90%;

padding:40px;

background:
rgba(10,10,10,.75);

backdrop-filter:blur(20px);

border:1px solid rgba(255,0,0,.4);

border-radius:20px;

box-shadow:
0 0 30px rgba(255,0,0,.3);
}

.version{

font-size:60px;

color:#ff1744;

margin-bottom:20px;
}

.status{

display:inline-block;

padding:10px 25px;

border-radius:30px;

background:#071b0d;

color:#3cff7a;

border:1px solid #3cff7a;

margin-bottom:25px;
}

.download-btn{

display:block;

padding:25px;

margin-top:20px;

background:
linear-gradient(
45deg,
#ff003c,
#ff4c6a);

color:white;

text-decoration:none;

font-size:28px;

border-radius:15px;

box-shadow:
0 0 25px red;

transition:.3s;
}

.download-btn:hover{

transform:translateY(-4px);

box-shadow:
0 0 40px red,
0 0 90px red;
}

.small{

margin-top:20px;

font-size:13px;

color:#bbb;
}

.about{

padding:100px 20px;

text-align:center;
}

.about h3{
color:#ff1744;
margin-bottom:20px;
}

.about h1{

font-size:50px;

color:white;

text-shadow:none;
}

.about p{

margin-top:15px;

color:#ff1744;

letter-spacing:5px;
}

footer{

padding:30px;

text-align:center;

border-top:
1px solid rgba(255,0,0,.15);
}
